ip(a)||""),Xu(c,CXa,b)};function j7(a,b){A.call(this);var c=this;this.V=Js.Ua();this.H=a.get(Qv);this.va=b;this.Aa=a.get(Ev);this.W=new Ug(this);y(this,this.W);this.T=this.S=null;this.Ba=Zm(P(),"icso");this.ua=a.get(ev);this.ma=new ht;y(this,this.ma);it(this.ma,this.ua.S,function(){return k7(c)});it(this.ma,this.ua.T,function(){return k7(c)});this.W.listen(this.H,["h","y"],this.ZP);this.Ba&&this.W.Sb(this.H,"s",this.zM);this.U=new X6(Mf(this.Aa),new HZa);GZa(this.U);this.W.listen(this.U,"navigate",this.pM);k7(this)}
r(j7,A);q=j7.prototype;q.dT=function(){this.H.kE(this.V.V.H)};q.Jd=function(){return this.H.hv()};q.JT=function(){this.U.setEnabled(!0)};function k7(a){var b=Zm(P(),"docs-hucs"),c=Fa("gbar");b=b&&c&&a.ua.H()&&!a.Ba;a.H.fn(v(a.lz,a,!b));a.H.fn(v(a.sI,a,b))}q.lz=function(a,b){a?(this.S||(a=new d7(b,v(this.sN,this)),a.va=!0,this.S=new e7(new DZa(this.va),new i7(this.H.Tz()),a),this.S.Fy=!1,a.H=this.S,y(this,this.S)),this.S.dK(b)):this.S&&this.S.eK(b)};
q.sI=function(a,b){a?this.T?nD()?this.H.Gt(v(function(c,d){this.T.setMaterialInput(c,d,!0)},this,b)):this.T.setInput(b):nD()?(this.H.Gt(v(this.iB,this,b)),this.H.Iy()):this.H.EB(v(this.iB,this,b)):this.T&&this.T.removeInput()};q.iB=function(a,b){var c=Fa("gapi.load");c&&c("cloudsearch",v(this.tR,this,a,b))};
q.tR=function(a,b){var c=Fa("gapi.cloudsearch");c&&c.installDefault&&