=void 0;try{var h=a.getBoundingClientRect();u=h.top,p=h.height}catch(e){u=d,p=f}var m=u-l,g=Array.isArray(e.props.offset)?e.props.offset:[e.props.offset,e.props.offset];return m-g[0]<=c&&m+p+g[1]>=0}(e,a):function(e){var t=s.default.findDOMNode(e);if(!(t.offsetWidth||t.offsetHeight||"function"!=typeof t.getClientRects||"function"==typeof t.getClientRects&&t.getClientRects().length))return!1;var a=void 0,r=void 0;try{var n=t.getBoundingClientRect();a=n.top,r=n.height}catch(e){a=d,r=f}var i=window.innerHeight||document.documentElement.clientHeight,o=Array.isArray(e.props.offset)?e.props.offset:[e.props.offset,e.props.offset];return a-o[0]<=i&&a+r+o[1]>=0}(e))?e.visible||(e.props.once&&g.push(e),e.visible=!0,e.forceUpdate()):e.props.once&&e.visible||(e.visible=!1,e.props.unmountIfInvisible&&e.forceUpdate())}},w=function(){for(var e=0;e<m.length;++e){var t=m[e];k(t)}g.forEach(function(e){var t=m.indexOf(e);-1!==t&&m.splice(t,1)}),g=[]},E=