j[ai][4]]}}}if(ak){return false}return[n,n]},D=function(ah,al){for(var aj=0,n=ah.attributes.length,ak,ai=al;aj<n;aj++){ak=ah.attributes[aj];if(ak.name&&ak.name.substr(0,5)=="data-"){ai[ak.name.substr(5)]=ak.value}}return ai},af=function(){u=s.linkurl=a2a.getData(f)["a2a-url"]||u;C=s.linkname=a2a.getData(f)["a2a-title"]||C;F=s.linkmedia=a2a.getData(f)["a2a-media"]||F;a2a.linker(this)},J=function(aj,i,ah){var ai={node:i,service:aj,title:C,url:u},n=a2a.cbs("share",ai);if(typeof n!="undefined"){if(n.url){s.linkurl=n.url;s.linkurl_implicit=false}if(n.title){s.linkname=n.title;s.linkname_implicit=false}a2a.linker(i);if(n.stop&&ah){a2a.preventDefault(ah)}}},b=a2a.c.templates,f=s.node,X=a2a.getData(f),ad=f.a2a_follow,P=a2a.HTMLcollToArray(f.getElementsByTagName("a")),A=P.length,o=document.createElement("div"),t=encodeURIComponent,u=s.linkurl,h=t(s.linkurl).replace(/'/g,"%27"),C=s.linkname,m=t(s.linkname).replace(/'/g,"%27"),F=s.linkmedia,e=(F)?t(s.linkmedia).