|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([iuyIUY]|[uU][yY])?\u00c3([uycgmnptUYCGMNPT]|[nN][gG]|[cC][hH])?\u001d?[aA]":"$1$2$3\u1eaa$4","(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([iuyIUY]|[uU][yY])?\u1ea0([uycgmnptUYCGMNPT]|[nN][gG]|[cC][hH])?\u001d?[aA]":"$1$2$3\u1eac$4",
"(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([iuyIUY]|[uU][yY])?E([ucgkmnptUCGKMNPT]|[nN][hH]|[nN][gG]|[cC][hH])?\u001d?[eE]":"$1$2$3\u00ca$4","(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([iuyIUY]|[uU][yY])?\u00c8([ucgkmnptUCGKMNPT]|[nN][hH]|[nN][gG]|[cC][hH])?\u001d?[eE]":"$1$2$3\u1ec0$4",
"(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([iuyIUY]|[uU][yY])?\u00c9([ucgkmnptUCGKMNPT]|[nN][hH]|[nN][gG]|[cC][hH])?\u001d?[eE]":"$1$2$3\u1ebe$4","(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([iuyIUY]|[uU][yY])?\u1eba([ucgkmnptUCGKMNPT]|[nN][hH]|[nN][gG]|[cC][hH])?\u001d?[eE]":"$1$2$3\u1ec2$4",
"(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001