createElement("p",{className:"ctp-cty"},a.courseTupleData.displayLocationString),a.multiLocationInstituteUrl?l.default.createElement("a",{href:a.multiLocationInstituteUrl},"+more branches"):"",this.getUilpLinks(a,this.isPWAPage())),a.courseTupleData.usp&&this.props.showUSPLda?l.default.createElement("div",{className:"highligt-msg"},l.default.createElement("i",{className:"pwa-header-icon bulb"}),l.default.createElement("span",{className:"highlight-msg-txt"},a.courseTupleData.usp)):""),l.default.createElement("div",{id:"courseTuple"},this.getCourseTuple(a.courseTupleData,"",a.url,a),this.state.listings,this.state.showMoreCoursesLoader?this.getShowMoreCourseLoader():"")),r>0?l.default.createElement("div",{className:"ctp-shwMr"},r>1?l.default.createElement("a",{onClick:this.getCourseData.bind(this,a,t)},"+",r," more courses"):l.default.createElement("a",{onC