:"auto";c=$l(a,"overflowY");g.style.overflowY=c&&"visible"!=c?c:"auto";g.scrollTop=a.scrollTop;g.scrollLeft=a.scrollLeft;VM(g,bm(a));c=Ezf(e);return"INPUT"==a.tagName.toUpperCase()?new pd(c.left,Math.ceil(cm(a).y+dm(a).height)):new pd(c.left,Math.ceil(c.bottom))}
function Gzf(a,b){b=b||null;if(!b)b=de(a),a.Bb(),b=RN(b);else if(3==b.Kp().nodeType&&3==b.Xr().nodeType){var c=fzf(ON(b),!0),d=fzf(ON(b),!1);if(c&&d)return new pd(c.x,d.y)}if(!b)return new pd(0,0);c=a.createElement("SPAN");c.appendChild(pG(a,"\u200b"));!Pc||$c(9)?b.MO(c,!1):(d=null,b.JC()||(d=b.getText(),b.collapse(!1)),c=b.E$(c),d&&(b.collapse(!0),b.cO().moveStart("character",-d.length),b.select()));b=Ezf(c);a.removeNode(c);return new pd(b.left,b.bottom)}
function Hzf(a,b){b=de(b);try{for(;b&&b!=rif&&b.frameElement;b=b.parent){var c=cm(b.frameElement);a.x+=c.x;a.y+=c.y}}catch(d){}}function Izf(a){this.H=a;this.jb=$1(a);this.Sa=vd(this.jb);a=Jzf(this);this.F=a[0];this.D=a[1];this.le=this.jb.value.slice(this.F