000770F203A3A47FB9D04B3EC5905B384C2FA0375A90C56719::1581068699298\x26navHidden\x3dtrue\x26multiselectEnabled\x3dtrue\x26selectButtonLabel\x3dOK\x26nav\x3d((%22fonts%22))', newDoc:  false , newTemplateDoc:  false , editable:  false , id: '', app: 'sketchy', sid: '', session: '', canReadComments:  true , commentable:  false , downloadable:  true , elementId: 'docs-editor', workspaceElementId: 'workspace', canvasContainerElementId: 'canvas-container', canvasElementId: 'canvas', pagesElementId: 'pages', horizontalRulerElementId: 'sketchy-horizontal-ruler', verticalRulerElementId: 'sketchy-vertical-ruler', prerenderImageUrls: [], enablePrerender:  false , autolayoutMapBinaryUris: '\x7b\x22autolayout_maps\x22:\x5b\x22\/static\/presentation\/client\/js\/306591535-autolayout_map_binary_prod_autolayout_maps.js\x22\x5d\x7d', diagramsMapBinaryUri: '\x7b\x22diagrams_map\x22:\x5b\x22\/static\/presentation\/client\/js\/3544122829-diagrams_m