lsens rodmappe er påkrævet.Udvidelsens rodmappe er ugyldig.Den private nøglefil er ugyldig.Oprettede følgende filer:
        
Udvidelse: $1
Nøglefil: $2

Opbevar din nøglefil på et sikkert sted. Du skal bruge den til at oprette nye versioner af din udvidelse.Oprettede udvidelsen:

$1TilføjTilføj udvidelsenTilføj appTilføj temaRapportér misbrugRapportér misbrug fra "$1""$1" vil gerne fjerne denne udvidelse.GenaktiverAcceptér tilladelserTilbagekald filadgangTilbagekald adgang til enhedTilbagekald adgang til fil og enhedReparer udvidelsenReparer appenWebshopSe infoSkjul detaljerAdgang nægtet.UdvidelsesfejlNy udvidelse er tilføjet ($1)Ny app er tilføjet ($1)Nyt tema er tilføjet ($1)"$1" er tilføjetEt andet program på din computer tilføjede en app, der kan ændre den måde, hvorpå Chrome fungerer.Et andet program på din computer tilføjede en udvidelse, der kan ændre den måde, hvorpå Chrome fungerer.Et andet program på din computer tilføjede et tema, der kan ændre den måde, hvorpå Chrome fungerer.Understøttede udvidelser er blevet 