d_bg"]],[112,"bg-t-k0-qwerty",[["bg","\u0431\u044a\u043b\u0433\u0430\u0440\u0441\u043a\u0438 \u0435\u0437\u0438\u043a (\u0444\u043e\u043d\u0435\u0442\u0438\u043a\u0430)"]],["bg"],0,null,["vkd_bg_phone"]],[113,"ca-t-k0-und",[["ca","catal\u00e0"]],["ca"],0,null,["vkd_ca"]],[114,"chr-t-k0-und",
[["chr","\u13e3\u13b3\u13a9"]],["chr"],0,null,["vkd_chr"]],[233,"ckb-t-k0-ar",[["ckb","\u06a9\u0648\u0631\u062f\u06cc (\u062f\u06d5\u0633\u062a\u0646\u0648\u0633\u06cc \u0639\u06d5\u0631\u06d5\u0628\u06cc)"]],["ckb"],0,null,["vkd_ckb_ar"]],[232,"ckb-t-k0-en",[["ckb","\u06a9\u0648\u0631\u062f\u06cc"]],["ckb"],0,null,["vkd_ckb_en"]],[115,"hr-t-k0-und",[["hr","Hrvatski"]],["hr"],0,null,["vkd_hr"]],[116,"cs-t-k0-und",[["cs","\u010ce\u0161tina"]],["cs"],0,null,["vkd_cs"]],[117,"cs-t-k0-qwertz",[["cs",
"\u010ce\u0161tina QWERTZ"]],["cs"],0,null,["vkd_cs_qwertz"]],[118,"da-t-k0-und",[["da","Dansk"]],["da"],0,null,["vkd_da"]],[119,"prs-t-k0-und",[["prs","\u0641\u0627\u0631\u0633\u06cc \u062f\u0631\u06cc"]],["fa"],0,null,["vkd_prs"]],[120,"nl-t-k0-und",[["nl","Nederlands"]],["nl"],0,null,["vkd_nl"]],[121,"hi-t-k0-qwerty",[["hi","\u0926\u0947\u0935\u0928\u093e\u0917\u0930\u0940 (\u092b\u094b\u0928\u0947\u091f\u093f\u0915)"]],["hi"],0,null,["vkd_deva_phone"]],[122,"en-t-k0-und",[["en","English"]],["en"],
0,null,["vkd_en"]],[123,"et-t-k0-und",[["et","eesti keel"]],["et"],0,null,["vkd_et"]],[124,"und-ethi-t-k0-und",[["am","\u130d\u12d5\u12dd"]],["am"],0,null,["vkd_ethi"]],[125,"fi-t-k0-und",[["fi","Suomi"]],["fi"],0,null,["vkd_fi"]],[126,"fr-t-k0-und",[["fr","Fran\u00e7ais"]],["fr"],0,null,["vkd_fr"]],[127,"gl-t-k0-und",[["gl","galego"]],["gl"],0,null,["vkd_gl"]],[128,"ka-t-k0-und",[["ka","\u10e5\u10d0\u10e0\u10d7\u10e3\u10da\u10d8 (\u10e5\u10ec\u10d4\u10e0\u10e2\u10e7)"]],["ka"],0,null,["vkd_ka_qwerty"]],
[129,"ka-t-k0-legacy",[["ka","\u10e5\u10d0\u10e0\u10d7\u10e3\u10da\u10d8 (\u10e1\u10d0\u10d1\u10d4\u10ed\u10d3\u10d8 \u10db\u10d0\u10dc\u10e5\u10d0\u10dc\u10d0)"]],["ka"],0,null,["vkd_ka_typewriter"]],[130,"de-t-k0-und",[["de","Deutsch"]],["de"],0,null,["vkd_de"]],[131,"el-t-k0-und",[["el","\u03b5\u03bb\u03bb\u03b7\u03bd\u03b9\u03ba\u03ac"]],["el"],0,null,["vkd_el"]],[132,"gu-t-k0-und",[["gu","\u0a97\u0ac1\u0a9c\u0ab0\u0abe\u0aa4\u0ac0 (INSCRIPT)"]],["gu"],0,null,["vkd_gu_inscript"]],[133,"gu-t-und-latn-k0-qwerty",
[["gu","\u0a97\u0ac1\u0a9c\u0ab0\u0abe\u0aa4\u0ac0 (\u0aab\u0acb\u0aa8\u0ac7\u0aa4\u0abf