stvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([iI])?([\u01b0\u1eeb\u1ee9\u1eed\u1eef]\u001d?)([aiucgmnptAIUCGMNPT]|[nN][gG]|[cC][hH])?\u001d?[jJ]":"$1$2$3\u1ef1$5",
"(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([uU])?([y\u1ef3\u00fd\u1ef7\u1ef9]\u001d?)([acgmnptuACGMNPTU]|[nN][hH]|[nN][gG]|[cC][hH])?\u001d?[jJ]":"$1$2$3\u1ef5$5","(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([oO])?([A\u00c0\u00c1\u1ea2\u00c3]\u001d?)([iouycgmnptIOUYCGMNPT]|[nN][hH]|[nN][gG]|[cC][hH])?\u001d?[jJ]":"$1$2$3\u1ea0$5",
"(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]|[cC][hH]|[gG][iI]|[nN][hH]|[kK][hH]|[tT][hH]|[qQ][uU]|[pP][hH]|[nN][gG]|[gG][hH]|[tT][rR]|[nN][gG][hH]|[\u0111\u0110])?\u001d?([uU])?([\u00c2\u1ea6\u1ea4\u1ea8\u1eaa]\u001d?)([uycgmnptUYCGMNPT]|[nN][gG]|[cC][hH])?\u001d?[jJ]":"$1$2$3\u1eac$5","(^|\\s|-|_|\\/)([bcd\u0111ghklmnprstvxyzBCD\u0110GHKLMNPRSTVXYZ]