oose Stream",data:this.prepareStreamData()}),n.default.createElement("p",{className:"droptxt",onClick:this.openPopUp.bind(this,"stream")}," ",this.state.streamValue?this.state.streamValue.name:"Choose Stream"," ",n.default.createElement("i",{className:"dropdwn_arw"})))),n.default.createElement("div",{className:this.state.streamValue?"advance-dropdwn":"advance-dropdwn disable-drop"},n.default.createElement(i.default,{onRef:function(t){return e.coursePopupLayer=t},heading:"Choose Course",data:this.prepareCourseData()}),n.default.createElement("p",{className:"droptxt",onClick:this.openPopUp.bind(this,"course")},this.state.courseValue?this.state.courseValue.name+(this.state.courseValue.subName?", "+this.state.courseValue.subName:""